<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>lu.nowina.nexu</string>

    <key>CFBundleName</key>
    <string>NexuAPR</string>

    <key>CFBundleVersion</key>
    <string>2.04</string>

    <key>CFBundleExecutable</key>
    <string>NexuAPR</string>

</dict>
</plist>
